pipeline/kom-pimAdobeExportResubmit-dev-pipe.json
{
	"name": "kom-pimAdobeExportResubmit-dev-pipe",
	"properties": {
		"activities": [
			{
				"name": "Append_RetriggerFileName_To_ArrayVariable",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [
					{
						"name": "FileName",
						"value": "@pipeline().parameters.retriggerAzureStorageBlobFileName"
					},
					{
						"name": "SourceSystem",
						"value": "pim"
					},
					{
						"name": "TargetSystem",
						"value": "com"
					},
					{
						"name": "CustomMessage",
						"value": "Retrigger Files Added To Array"
					},
					{
						"name": "Transaction",
						"value": "@pipeline().parameters.transactionName"
					}
				],
				"typeProperties": {
					"variableName": "retriggerFileNameArr",
					"value": {
						"value": "@pipeline().parameters.retriggerAzureStorageBlobFileName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ExecutePipeline_copyAzureBlobToAdobeComSFTP",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Append_RetriggerFileName_To_ArrayVariable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "FileName",
						"value": "@pipeline().parameters.retriggerAzureStorageBlobFileName"
					},
					{
						"name": "SourceSystem",
						"value": "pim"
					},
					{
						"name": "TargetSystem",
						"value": "com"
					},
					{
						"name": "CustomMessage",
						"value": "Execute Pipeline kom-copyAzureBlobToAdobeComSFTP Invoked"
					},
					{
						"name": "Transaction",
						"value": "@pipeline().parameters.transactionName"
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "kom-copyAzureBlobToAdobeComSFTP-dev-pipe",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"sourceAzureStorageBlobFilePath": {
							"value": "@pipeline().parameters.azureStorageBlobFilePath",
							"type": "Expression"
						},
						"sourceAzureStorageBlobFileName": {
							"value": "@variables('retriggerFileNameArr')",
							"type": "Expression"
						},
						"mainPipelineStartTime": {
							"value": "@pipeline().TriggerTime\n ",
							"type": "Expression"
						},
						"sourceAzureStorageContainer": {
							"value": "@pipeline().globalParameters.retriggerAzureStorageBlobContainer",
							"type": "Expression"
						},
						"source": "pim",
						"target": "com",
						"transaction": {
							"value": "@pipeline().parameters.transactionName",
							"type": "Expression"
						},
						"flowName": {
							"value": "@pipeline().parameters.flowName",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"azureStorageBlobFilePath": {
				"type": "string"
			},
			"retriggerAzureStorageBlobFileName": {
				"type": "string"
			},
			"retriggerAzureStorageBlobFilePath": {
				"type": "string"
			},
			"transactionName": {
				"type": "string"
			},
			"flowName": {
				"type": "string"
			}
		},
		"variables": {
			"retriggerFileNameArr": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-12-09T16:45:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}