pipeline/kom-pimAzureBlobPartsAssetImgControl-dev-pipe.json
{
	"name": "kom-pimAzureBlobPartsAssetImgControl-dev-pipe",
	"properties": {
		"activities": [
			{
				"name": "GetMetadata_PIM_AWSS3",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Transaction",
						"value": "partsassetimg"
					},
					{
						"name": "SourceSystem",
						"value": "pim"
					},
					{
						"name": "TargetSystem",
						"value": "aem"
					},
					{
						"name": "CustomMessage",
						"value": "Getting File Metadata from PIMAWSS3 Path"
					}
				],
				"typeProperties": {
					"dataset": {
						"referenceName": "dsPIM_Adobe_PartsAssetImg_PIM",
						"type": "DatasetReference",
						"parameters": {
							"awsS3SourceBucketName": {
								"value": "@pipeline().parameters.awsS3SourceBucketName",
								"type": "Expression"
							},
							"awsS3SourceFilePath": {
								"value": "@pipeline().parameters.awsS3SourceFilePath",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AmazonS3ReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach_PIM_AWSS3_Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Delete_Valid_MetadataJson_from_PIM_AWSS3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [
					{
						"name": "Transaction",
						"value": "partsassetimg"
					},
					{
						"name": "SourceSystem",
						"value": "pim"
					},
					{
						"name": "TargetSystem",
						"value": "aem"
					},
					{
						"name": "CustomMessage",
						"value": "Looping through Each File In PIMAWSS3 for matching files"
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadata_PIM_AWSS3').output.childItems",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "If Condition2",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [
								{
									"name": "Transaction",
									"value": "partsassetimg"
								},
								{
									"name": "SourceSystem",
									"value": "pim"
								},
								{
									"name": "TargetSystem",
									"value": "aem"
								},
								{
									"name": "CustomMessage",
									"value": "Matching File  Exists In PIMAWSS3"
								}
							],
							"typeProperties": {
								"expression": {
									"value": "@and(startswith(toUpper(item().name),toUpper(pipeline().parameters.awsS3SourceFileName)),endswith(toUpper(item().name),'.ZIP'))\n\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy_Zip_Media_files_to_Stage",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "FileName",
												"value": "@item().name"
											},
											{
												"name": "Transaction",
												"value": "partsassetimg"
											},
											{
												"name": "SourceSystem",
												"value": "pim"
											},
											{
												"name": "TargetSystem",
												"value": "aem"
											},
											{
												"name": "CustomMessage",
												"value": "Copy Media Zip File from PIMAWSS3 to Storage Stage Folder"
											}
										],
										"typeProperties": {
											"source": {
												"type": "BinarySource",
												"storeSettings": {
													"type": "AmazonS3ReadSettings",
													"recursive": false,
													"wildcardFolderPath": {
														"value": "@pipeline().parameters.awsS3SourceFilePath",
														"type": "Expression"
													},
													"wildcardFileName": {
														"value": "@item().name",
														"type": "Expression"
													},
													"deleteFilesAfterCompletion": false
												},
												"formatSettings": {
													"type": "BinaryReadSettings"
												}
											},
											"sink": {
												"type": "BinarySink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												}
											},
											"enableStaging": false,
											"dataIntegrationUnits": 8
										},
										"inputs": [
											{
												"referenceName": "dsPIM_Adobe_PartsAssetImg_PIM",
												"type": "DatasetReference",
												"parameters": {
													"awsS3SourceBucketName": {
														"value": "@pipeline().parameters.awsS3SourceBucketName",
														"type": "Expression"
													},
													"awsS3SourceFilePath": {
														"value": "@pipeline().parameters.awsS3SourceFilePath",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "dsPIM_Adobe_PartsAssetImg_AzureBlob",
												"type": "DatasetReference",
												"parameters": {
													"dsAzureBlobContainer": {
														"value": "@pipeline().globalParameters.inboundAzureStorageContainer",
														"type": "Expression"
													},
													"dsAzureBlobPath": {
														"value": "@concat(variables('assetMediaBlobPath'),'stage')",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Delete_zip_Media_file_from_PIM_AWSS3",
										"type": "Delete",
										"state": "Inactive",
										"onInactiveMarkAs": "Succeeded",
										"dependsOn": [
											{
												"activity": "Copy_Zip_Media_files_to_Stage",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "FileName",
												"value": "@item().name"
											},
											{
												"name": "Transaction",
												"value": "partsassetimg"
											},
											{
												"name": "SourceSystem",
												"value": "pim"
											},
											{
												"name": "TargetSystem",
												"value": "aem"
											},
											{
												"name": "CustomMessage",
												"value": "Delete Media Zip File from PIMAWSS3"
											}
										],
										"typeProperties": {
											"dataset": {
												"referenceName": "dsPIM_Adobe_PartsAssetImg_PIM",
												"type": "DatasetReference",
												"parameters": {
													"awsS3SourceBucketName": {
														"value": "@pipeline().parameters.awsS3SourceBucketName",
														"type": "Expression"
													},
													"awsS3SourceFilePath": {
														"value": "@pipeline().parameters.awsS3SourceFilePath",
														"type": "Expression"
													}
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": false,
												"wildcardFileName": {
													"value": "@{item().name}",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											}
										}
									},
									{
										"name": "ExecutePipeline_pimAzureBlobPartsAssetImgMedia",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "Delete_zip_Media_file_from_PIM_AWSS3",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "FileName",
												"value": "@item().name"
											},
											{
												"name": "Transaction",
												"value": "partsassetimg"
											},
											{
												"name": "SourceSystem",
												"value": "pim"
											},
											{
												"name": "TargetSystem",
												"value": "aem"
											},
											{
												"name": "CustomMessage",
												"value": "Execute Pipeline pimAzureBlobPartsAssetImgMedia"
											}
										],
										"typeProperties": {
											"pipeline": {
												"referenceName": "kom-pimAzureBlobPartsAssetImgMedia-dev-pipe",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"unzipBlobPath": {
													"value": "@variables('assetMediaBlobPath')",
													"type": "Expression"
												},
												"imageBlobPath": {
													"value": "@concat(variables('assetMediaBlobPath'),'images')",
													"type": "Expression"
												},
												"attachmentBlobPath": {
													"value": "@concat(variables('assetMediaBlobPath'),'attachments')",
													"type": "Expression"
												},
												"zipBlobPath": {
													"value": "@concat(variables('assetMediaBlobPath'),'stage')",
													"type": "Expression"
												},
												"zipFileName": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Filter_JsonFileMetadata",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetMetadata_PIM_AWSS3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [
					{
						"name": "Transaction",
						"value": "partsassetimg"
					},
					{
						"name": "SourceSystem",
						"value": "pim"
					},
					{
						"name": "TargetSystem",
						"value": "aem"
					},
					{
						"name": "CustomMessage",
						"value": "Filter the MetaData Received from PIMAWSS3"
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadata_PIM_AWSS3').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(startswith(toUpper(item().name),toUpper(pipeline().parameters.awsS3SourceFileName)),endswith(toUpper(item().name),'.JSON'))\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy_Valid_MetadataJson_to_Inbound",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetVariable_assetMediaBlobPath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "FileName",
						"value": "@activity('Filter_JsonFileMetadata').output.value[0].name"
					},
					{
						"name": "Transaction",
						"value": "partsassetimg"
					},
					{
						"name": "SourceSystem",
						"value": "pim"
					},
					{
						"name": "TargetSystem",
						"value": "aem"
					},
					{
						"name": "CustomMessage",
						"value": "Copy Valid Metadata Json From PIMAWS3 To StorageInbound"
					}
				],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AmazonS3ReadSettings",
							"recursive": false,
							"wildcardFolderPath": {
								"value": "@pipeline().parameters.awsS3SourceFilePath",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@activity('Filter_JsonFileMetadata').output.value[0].name",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "dsPIM_Adobe_PartsAssetImg_PIMJson",
						"type": "DatasetReference",
						"parameters": {
							"awsS3SourceBucketName": {
								"value": "@pipeline().parameters.awsS3SourceBucketName",
								"type": "Expression"
							},
							"awsS3SourceFilePath": {
								"value": "@pipeline().parameters.awsS3SourceFilePath",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dsPIM_Adobe_PartsAssetImg_AzureBlobJson",
						"type": "DatasetReference",
						"parameters": {
							"dsAzureBlobContainer": {
								"value": "@pipeline().globalParameters.inboundAzureStorageContainer",
								"type": "Expression"
							},
							"dsAzureBlobPath": {
								"value": "@variables('assetMetadataBlobPath')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "SetVariable_assetMetadataBlobPath",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Setvariable_fileRcvDateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "FileName",
						"value": "@activity('Filter_JsonFileMetadata').output.value[0].name"
					},
					{
						"name": "Transaction",
						"value": "partsassetimg"
					},
					{
						"name": "SourceSystem",
						"value": "pim"
					},
					{
						"name": "TargetSystem",
						"value": "aem"
					},
					{
						"name": "CustomMessage",
						"value": "Set AssetMetadata Blob Path"
					}
				],
				"typeProperties": {
					"variableName": "assetMetadataBlobPath",
					"value": {
						"value": "@concat(pipeline().parameters.inboundBlobPath,\nconcat('/',concat(variables('fileRcvDateTime'),'/metadata/')))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Setvariable_fileRcvDateTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter_JsonFileMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Transaction",
						"value": "partsassetimg"
					},
					{
						"name": "SourceSystem",
						"value": "pim"
					},
					{
						"name": "TargetSystem",
						"value": "aem"
					},
					{
						"name": "CustomMessage",
						"value": "Extract the DateTime Stamp from the FileName"
					},
					{
						"name": "FileName",
						"value": "@activity('Filter_JsonFileMetadata').output.value[0].name"
					}
				],
				"typeProperties": {
					"variableName": "fileRcvDateTime",
					"value": {
						"value": "@substring(activity('Filter_JsonFileMetadata').output.value[0].name,28,15)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SetVariable_assetMediaBlobPath",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SetVariable_assetMetadataBlobPath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "FileName",
						"value": "@activity('Filter_JsonFileMetadata').output.value[0].name"
					},
					{
						"name": "Transaction",
						"value": "partsassetimg"
					},
					{
						"name": "SourceSystem",
						"value": "pim"
					},
					{
						"name": "TargetSystem",
						"value": "aem"
					},
					{
						"name": "CustomMessage",
						"value": "Set AssetMedia Blob Path"
					}
				],
				"typeProperties": {
					"variableName": "assetMediaBlobPath",
					"value": {
						"value": "@concat(pipeline().parameters.inboundBlobPath,\nconcat('/',concat(variables('fileRcvDateTime'),'/media/')))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Delete_Valid_MetadataJson_from_PIM_AWSS3",
				"type": "Delete",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Copy_Valid_MetadataJson_to_Inbound",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "FileName",
						"value": "@activity('Filter_JsonFileMetadata').output.value[0].name"
					},
					{
						"name": "Transaction",
						"value": "partsassetimg"
					},
					{
						"name": "SourceSystem",
						"value": "pim"
					},
					{
						"name": "TargetSystem",
						"value": "aem"
					},
					{
						"name": "CustomMessage",
						"value": "Delete Valid Metadata Json From PIMAWS3"
					}
				],
				"typeProperties": {
					"dataset": {
						"referenceName": "dsPIM_Adobe_PartsAssetImg_PIMJson",
						"type": "DatasetReference",
						"parameters": {
							"awsS3SourceBucketName": {
								"value": "@pipeline().parameters.awsS3SourceBucketName",
								"type": "Expression"
							},
							"awsS3SourceFilePath": {
								"value": "@pipeline().parameters.awsS3SourceFilePath",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AmazonS3ReadSettings",
						"recursive": true,
						"wildcardFileName": {
							"value": "@activity('Filter_JsonFileMetadata').output.value[0].name",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Execute_kom-pimAzureBlobPartsAssetImgMetadata-dev-pipe",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach_PIM_AWSS3_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "FileName",
						"value": "@activity('Filter_JsonFileMetadata').output.value[0].name"
					},
					{
						"name": "Transaction",
						"value": "partsassetimg"
					},
					{
						"name": "SourceSystem",
						"value": "pim"
					},
					{
						"name": "TargetSystem",
						"value": "aem"
					},
					{
						"name": "CustomMessage",
						"value": "Execute Pipeline pimAzureBlobPartsAssetImgMetadata"
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "kom-pimAzureBlobPartsAssetImgMetadata-dev-pipe",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"inboundBlobContainer": {
							"value": "@pipeline().parameters.inboundBlobContainer",
							"type": "Expression"
						},
						"inboundMetadataBlobPath": {
							"value": "@variables('assetMetadataBlobPath')",
							"type": "Expression"
						},
						"inboundMetadataPartsBlobPath": {
							"value": "@concat(variables('assetMetadataBlobPath'),'parts')",
							"type": "Expression"
						},
						"metadataFileName": {
							"value": "@activity('Filter_JsonFileMetadata').output.value[0].name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Copy_InValid_MetadataJson_to_Error",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy_Valid_MetadataJson_to_Inbound",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "FileName",
						"value": "@activity('Filter_JsonFileMetadata').output.value[0].name"
					},
					{
						"name": "Transaction",
						"value": "partsassetimg"
					},
					{
						"name": "SourceSystem",
						"value": "pim"
					},
					{
						"name": "TargetSystem",
						"value": "aem"
					},
					{
						"name": "CustomMessage",
						"value": "Copy Invalid Metadata Json From PIMAWS3 To StorageError"
					}
				],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AmazonS3ReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@pipeline().parameters.awsS3SourceFilePath",
								"type": "Expression"
							},
							"wildcardFileName": {
								"value": "@activity('Filter_JsonFileMetadata').output.value[0].name",
								"type": "Expression"
							},
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "dsPIM_Adobe_PartsAssetImg_PIM",
						"type": "DatasetReference",
						"parameters": {
							"awsS3SourceBucketName": {
								"value": "@pipeline().parameters.awsS3SourceBucketName",
								"type": "Expression"
							},
							"awsS3SourceFilePath": {
								"value": "@pipeline().parameters.awsS3SourceFilePath",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dsPIM_Adobe_PartsAssetImg_AzureBlob",
						"type": "DatasetReference",
						"parameters": {
							"dsAzureBlobContainer": {
								"value": "@pipeline().globalParameters.errorAzureStorageBlobContainer",
								"type": "Expression"
							},
							"dsAzureBlobPath": {
								"value": "@concat(pipeline().parameters.errorBlobPath,\nconcat('/',concat(variables('fileRcvDateTime'),'/metadata/')))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Delete_Invalid_MetadataJson_from_PIM_AWSS3",
				"type": "Delete",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Copy_InValid_MetadataJson_to_Error",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "FileName",
						"value": "@activity('Filter_JsonFileMetadata').output.value[0].name"
					},
					{
						"name": "Transaction",
						"value": "partsassetimg"
					},
					{
						"name": "SourceSystem",
						"value": "pim"
					},
					{
						"name": "TargetSystem",
						"value": "aem"
					},
					{
						"name": "CustomMessage",
						"value": "Delete Invalid Metadata Json From PIMAWS3"
					}
				],
				"typeProperties": {
					"dataset": {
						"referenceName": "dsPIM_Adobe_PartsAssetImg_PIM",
						"type": "DatasetReference",
						"parameters": {
							"awsS3SourceBucketName": {
								"value": "@pipeline().parameters.awsS3SourceBucketName",
								"type": "Expression"
							},
							"awsS3SourceFilePath": {
								"value": "@pipeline().parameters.awsS3SourceFilePath",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AmazonS3ReadSettings",
						"recursive": true,
						"wildcardFileName": {
							"value": "@activity('Filter_JsonFileMetadata').output.value[0].name",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"awsS3SourceBucketName": {
				"type": "string"
			},
			"awsS3SourceFilePath": {
				"type": "string"
			},
			"awsS3SourceFileName": {
				"type": "string"
			},
			"inboundBlobContainer": {
				"type": "string"
			},
			"inboundBlobPath": {
				"type": "string"
			},
			"errorBlobPath": {
				"type": "string"
			}
		},
		"variables": {
			"assetMediaBlobPath": {
				"type": "String"
			},
			"assetMetadataBlobPath": {
				"type": "String"
			},
			"fileRcvDateTime": {
				"type": "String"
			}
		},
		"annotations": []
	}
}